@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto';
    font-size: 18px;
}

p{
    padding-left: 25px;
}

h1,
h2,
h3,
.header h1,
.header h2{
    text-align: center;
    font-family: "Playwrite NZ Basic", cursive;
}

img{
    display: flex;
    justify-self: center;
    align-self: center;
}

.menu{
    display: inline-flex;
    
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top: 30px;
    right: 0;
  
    /**display: flex;
    justify-content: space-between;
    align-items: center;**/
}

.header img{
    justify-self: left;
    width: 150px;
    height: auto;
}


.header li{
    margin-right: 10px;
    font-size: large;
}


.header h1,
.header h2{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.header h2{
    color: gray;
}



.menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

.menu ul li{
    justify-self: right;
    align-self: right;
}

.menu a:hover{
    text-decoration: none;
}

.menu img{
    width: 150px;
    height: auto;
}

.footer p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.library,
.compiler{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    max-width: 100ch;
    justify-self: center;
    align-self: center;
}

.library img,
.compiler img{
    padding-bottom: 20px;
    padding-top: 10px;
    height: 90%;
    width: 90%;
}

.library p,
.compiler p{
    padding-right: 10px;
}

.compiler{
    margin-top: 50px;
}

.compiler img{
    height: 100%;
    width: 95%;
}

.contacts{
    display: flex;
    justify-content: center;
}


.contacts ul{
    list-style-type: disc;
    list-style-position: outside;
}

.contacts li{
    padding-bottom: 20px;
    padding-right: 18px;
}

.contacts li:last-child{
    padding-bottom: 40px;
}


.article-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-bottom: 0;
    max-width: 85ch;
    margin: 0 auto;
}

.article-info{
    padding-bottom: auto;
}


.article-info p{
    margin: 0;
}

.date{
    font-style: italic;
    padding-top: 40px;
}

.source{
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.article-container h2{
    font-family: 'Roboto';
}


