@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

form{
    border: 1px solid gray;
    width: 350px;
    margin: 0 auto;
}

.forms{
    font-family: "Playwrite NZ Basic", cursive;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.forms label{
    padding: 10px;
    padding-left: 0;
    padding-bottom: 0px;
    text-align: left;
}

.forms input,
.forms textarea,
.forms button{
    box-sizing: border-box;
}

.forms button{
    font-family: "Playwrite NZ Basic", cursive; 
    border: 1px solid gray;
}

.forms input,
.forms textarea{
    font-family: 'Helvetica', Arial, sans-serif;
}

.forms textarea{
    height: 60px;
    resize: vertical;
}

.forms button{
    margin-top: 1em;
}

.forms input:focus,
.forms textarea:focus{
    border-color: black;
}


@media (max-width: 720px){
    form{
        width: 80%;
    }

    .forms label{
        font-size: 14px;
    }

    .forms textarea,
    .forms input{
        width: 100%;
        font-size: 16px;
    }

    .forms textarea{
        min-height: 120px;
    }

    .forms button{
        width: 100%;
        font-size: 16px;
    }
}