@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

form{
    border: 1px solid gray;
    width: 350px;
    margin: 0 auto;
}

.forms{
    font-family: "Playwrite NZ Basic", cursive;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form div{
    display: flex;
    flex-direction: column;
}


.forms label{
    padding: 10px;
    padding-left: 0;
    padding-bottom: 0px;
    width: 90px;
    text-align: left;
}

.forms input,
.forms textarea,
.forms button{
 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Playwrite NZ Basic", cursive; 

}

.forms textarea{
    height: 60px;
    resize: vertical;
}

.forms button{
    margin-top: 1em;
}

.forms input,
.forms textarea{
    border: 1px solid gray;
}

.forms input:focus,
.forms textarea:focus{
    border-color: black;
}
