@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');


.content-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    border: 2px solid black;
    font-family: "Playwrite NZ Basic", cursive;
    margin-bottom: 50px;
}

.projects-container,
.education-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    text-align: center;
    font-size: large;
}

.projects-container{
    grid-column: 1 / 2;
    position: relative;
}

.education-container{
    grid-column: 2 / 2;
    border-left: 2px solid black;
    padding: 15px;
}

.projects-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.projects-container li{
    border-bottom: 2px solid black;
    padding: 10px;
    width: 100%;
}

.projects-container ul li:last-child{
    border-bottom: 0px;
}

.projects-container a:hover{
    text-decoration: none;
}

.education-container ul{
    list-style-type: "-";
    list-style-position: outside;
    text-indent: 30px;
}

.education-container p,
.education-container li{
    max-width: 30ch;
}

span{
    display:block;
}

span:last-child{
    margin-top: 1em;
}

@media (max-width: 720px){
    .content-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: small;
        border: 2px solid black;
    }

    .projects-container li{
        border-bottom: 2px solid black;
        padding: 0px;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: lightgray;
    }

    .projects-container ul li:last-child{
        border-bottom: 2px solid black;
    }

    .projects-container ul li:first-child{
        border-top: 2px solid black;
    }

    .education-container{
        border-left: 0px;
        align-items: flex-start;
    }

    .education-container h2{
        align-self: center;
    }

    .education-container p,
    .education-container ul{
        max-width: 140ch;
        text-align: left;
    }

}