@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: white;
    --font-color: black;
    --secundary-font-color: gray;
    --link-color: blue;
    --visited-link-color: blueviolet;
    --border-color: black;
}

body:has(#darkmode:checked){
    --bg-color: black;
    --font-color: white;
    --secundary-font-color: lightgray;
    --link-color: aqua;
    --visited-link-color: palegreen;
    --border-color: white;
}

body{
    font-family: 'Roboto';
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

p{
    padding-left: 25px;
}


h1,
h2,
h3{
    text-align: center;
    font-family: "Playwrite NZ Basic", cursive;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header label{
    position: relative;
    top: 10px;
    display: block;
    text-align: right;
}

.menu{
    display: inline-flex;
    
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top: 30px;
    right: 0;
}

.header{
    display: flex;
    flex-direction: column;
}

.header img{
    align-self: flex-start;
    width: 150px;
    height: auto;
}

.invisible{
    opacity: 0;
}

.header h2{
    color: var(--secundary-font-color);
}

.menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li{
    padding-right: 5px;
    font-size: large;
}

.menu li:after{
    content: " / ";
}

.menu li:last-child::after{
    content: "";
}

.menu a:hover{
    text-decoration: none;
}

a{
    color: var(--link-color);
}

a:visited{
    color: var(--visited-link-color);
}

.footer p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.projects-details{
    display: flex;
    border: 2px solid var(--border-color);
    flex-direction: column;
    max-width: 100ch;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
}


.projects-details img{
    padding-bottom: 20px;
    padding-top: 10px;
    height: 90%;
    width: 90%;
}

.projects-details p{
    padding-right: 10px;
}

.projects-image-resize{
    height: 40%;
    width: 95%;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts li{
    padding-bottom: 20px;
}

.contacts li:last-child{
    padding-bottom: 10px;
}


.article-list{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.article-container{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    max-width: 85ch;
    margin: 0 auto;
    margin-bottom: 0px;
}

.article-container:nth-of-type(n+2){
    border-top: 0px;
}

.article-container:last-child{
    margin-bottom: 30px;
}

.article-info{
    padding-bottom: auto;
}

.article-info p{
    margin: 0;
}

.date{
    font-style: italic;
    padding-top: 40px;
}

.source{
    font-weight: bold;
    padding-bottom: 15px;
}

.article-container h2{
    font-family: 'Roboto';
}

@media (max-width: 720px){
    body{
        background-color: var(--bg-color);
        font-size: 16px;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .header img{
        align-self: center;
        width: 120px;
        height: 65px;
        margin-bottom: 40px;
    }

    .header label{
        position: absolute;
        top: 10px;
        right: 20px;
        text-align: left;
    }

    .invisible{
        opacity: 0;
    }

    .menu{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .menu ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu ul li{
        padding-right: 5px;
        font-size: medium;
    }

    .projects-details{
        width: 90%;
    }

    .projects-details img{
        height: 95%;
        width: 95%;
    }

    .contacts li{
        font-size: 16px;
    }

    .article-container{
        width: 80%;
        font-size: 14px;
    }

    .article-container h2{
        font-size: 16px;
    }


}
