.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cabeçalho li{
    margin-right: 10px;
    font-size: large;
}


.cabeçalho h1,
.cabeçalho h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.cabeçalho h2{
    color: gray;
}

.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
    padding: 0;
    margin: 0;
}

.menu a:hover{
    text-decoration: none;
}

.menu img{
    width: 150px;
    height: auto;
}

.rodape p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

